/*Sticky Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /*Add Background Texture*/
  background-image: url('../images/newspaper-texture.jpg');
}

main {
  flex: 1 0 auto;
}